<!DOCTYPE html>
<html>
    <head>
        <title>Sucesso</title>
        <meta charset="UTF-8">
        <link href="../css/confirma.css" rel="stylesheet">
    </head>
    <body>
        <header>

        </header>

        <div class="container">
            <h2>Cachorro cadastrado com sucesso!</h2>

            <p>Nome: <span th:text="${cachorro.nome}"></span></p>
            <p>Sexo: <span th:text="${cachorro.sexo}"></span></p>
            <p>Raça: <span th:text="${cachorro.raca}"></span></p>
            <p>Porte: <span th:text="${cachorro.porte}"></span></p>
            <p>Castrado(a): <span th:text="${cachorro.castrado}"></span></p>
            <p>Data de nascimento: <span th:text="${cachorro.dataNasc}"></span></p>
            <p>Observações: <span th:text="${cachorro.obs}"></span></p>
            
            <div class="botao">
                <button class="voltar" onclick="navegar('/listar-tutor.html')">Voltar para Lista</button>
            </div>
        </div>
      
        <script src="./js/script.js"></script>
    </body>
</html>