<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Histórico de Serviço</title>
    <link href="./css/listagem.css" rel="stylesheet">
</head>

<body>
    <header>

    </header>

    <div class="voltar">
        <a href="/" class="btn-voltar">⬅ Voltar para Início</a>
    </div>

    <section>
        <div class="container">
            <h2>Histórico de serviços</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Status</th>
                        <th>Cachorro</th>
                        <th>Pago?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Day Care</td>
                        <td>ativo</td>
                        <td>Vivi</td>
                        <td>Não</td>
                    </tr>
                    <tr>
                        <td>Avaliação</td>
                        <td>ativo</td>
                        <td>Peter</td>
                        <td>Não</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <script src="./js/script.js"></script>
</body>

</html>