<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <title>Lista de Cachorro</title>
        <link href="./css/listagem.css" rel="stylesheet">
    </head>

    <body>
        <header>

        </header>

        <div class="voltar">
            <a href="/" class="btn-voltar">⬅ Voltar para Início</a>
        </div>

        <section>
            <div class="container">
                <h2>Lista de cachorros cadastrados</h2>

                <form method="GET" action="/listar-cachorro">
                    <input type="text" name="busca" placeholder="Digite o nome do cachorro para busca" />
                    <button type="submit">Buscar</button>
                </form>

                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Sexo</th>
                            <th>Raça</th>
                            <th>Porte</th>
                            <th>Castrado</th>
                            <th>Data de nasc.</th>
                            <th>Obs.</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cachorro : ${cachorros}">
                            <td th:text="${cachorro.nome}"></td>
                            <td th:text="${cachorro.sexo}"></td>
                            <td th:text="${cachorro.raca}"></td>
                            <td th:text="${cachorro.porte}"></td>
                            <td th:text="${cachorro.castrado}"></td>
                            <td th:text="${cachorro.dataNasc}"></td>
                            <td th:text="${cachorro.obs}"></td>

                            <td>
                                <a th:href="@{'/detalhes-cachorro/' + ${cachorro.id}}" class="btn btn-detalhes">Exibir informações</a>

                                <div class="botoes-acao-dupla">
                                    <a th:href="@{'/editar-cachorro/' + ${cachorro.id}}" class="btn btn-editar">Editar</a>
                                    <a th:href="@{'/excluir-cachorro/' + ${cachorro.id}}" class="btn btn-excluir" 
                                        onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                                </div>
                            </td>
                                                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <script src="./js/script.js"></script>
    </body>

</html>